<div class="row">
  <nav class="navbar navbar-info">
    <div class="col-xs-3 arrow">
      <a [routerLink]="['/bus']">
        <i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-xs-6 text-center">
      <h1>{{"townService" | translate}}</h1>
    </div>
  </nav>
</div>

<div class="container">
  <div class="details" >
    <span class="space2">
      SUNDAY (and public holidays)</span>
  </div>
  <div class="panel-body">
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>SX</th>
          <th>SX</th>
          <th></th>
          <th></th>
          <th>TM</th>
          <th>TM</th>
          <th></th>
          <th>LT</th>
          <th>LT</th>
        </tr>
      </thead>
      <tbody *ngFor="let bussInfo of sundaybuss">
        <tr>
          <td>{{bussInfo.Origin}}</td>
          <td>{{bussInfo.Name}}</td>
          <td>{{bussInfo.FirstBus}}</td>
          <td>{{bussInfo.SecondBus}}</td>
          <td>{{bussInfo.ThirdBus}}</td>
          <td>{{bussInfo.FourthBus}}</td>
          <td>{{bussInfo.FifthBus}}</td>
          <td>{{bussInfo.SixthBus}}</td>
          <td>{{bussInfo.SeventhBus}}</td>
          <td>{{bussInfo.Last}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>