/* .food{
  height: 400px;
  width: 800px;
} */


.map {
  padding: 5px;
  height: 100px;
}
.mapRestaurants
{
  position:absolute;
  top:25%;
  left:50%;
  width:60%;
}

.listRestaurants{
position:absolute;
top:25%;
left:0%;
width:40%;
margin-left: 8%;
}

.mapRestaurants agm-map {
    height: 300px;
    width: 400px;
  }
 
.navbar-info{
  background-color: greenyellow;
}
.fa-arrow-left{
  color: white;
}
.header{ 
  text-align: center; 
  color: white;
} 
#back {
  float: left;
}