<div class="food">

  <!-- header -->
  <nav class="navbar navbar-info">
    <div class="container-fluid">
      <a [routerLink]="['/dashboard']" id="back">
        <i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i>
      </a>
      <div class="header">
          <h1>Looking for places around you?</h1>
        </div>
    </div>
  </nav>

  <!-- map -->
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="form-group">
          <input placeholder="Search for places around you" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
            #search [formControl]="searchControl">
        </div>
        <agm-map (mapReady)="onMapLoad($event)" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

</div>