/* main color: #00c853  */

/* hover: #00e676 */

.navbar-info {
  background-color: #00c853;
}

a {
  color: #fff;
  font-weight: bold;
}
h1{
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* back arrow */

.arrow {
  margin-top: 4px;
  padding-left: 22px;
}

.text h1 {
  /* clear: both; */
  display: inline-block;
  overflow: hidden;
  font-size: 2em ;
  /* white-space: nowrap; */
  word-wrap: break-word !important;
}

agm-map {
  height: 340px;
}

body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 800px;
  height: 480px;
}