agm-map {
    height: 260px;
}
.navbar-info{
    background-color: green;
    font-size: 10px;
}
.fa-arrow-left{
    color: white;
}
.header{ 
    text-align: center; 
    color: white;
} 

#back {
  float: left;
}
  