agm-map {
    height: 340px;
}
.navbar{
    background-color: #64dd17;
    font-size: 10px;  
  }
  .fa-arrow-left{
    color: white;
  }
  .header{ 
    text-align: center; 
    color: white;
  } 
  .header > h1, i{
    margin-top: 10px;
  }
  #back {
    float: left;
  }
  