<div class="language">
  <div class="row">
    <div class="col-sm-6 flag">
      <img src="./assets/images/flags/gb.png" (click)="languageChosen('en')">
    </div>
    <div class="col-sm-6 flag">
      <img src="./assets/images/flags/fr.png" (click)="languageChosen('fr')">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 flag">
      <img src="./assets/images/flags/pl.png" (click)="languageChosen('pl')">
    </div>
    <div class="col-sm-6 flag">
      <img src="./assets/images/flags/ro.png" (click)="languageChosen('ro')">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 flag">
      <img src="./assets/images/flags/it.png" (click)="languageChosen('it')">
    </div>
    <div class="col-sm-6 flag">
      <img src="./assets/images/flags/lt.png" (click)="languageChosen('lt')">
    </div>
  </div>
</div>