* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #ECECEE;
}

/*Grid for weather entries*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0;
    height: 50px;
    line-height: 50px;
}

/*clearfix*/
.row::after {
    content: "";
    clear: both;
    display: block;
    border-color: black; 
}

.widget {
    border: 6px solid hsla(0,0%,100%,.1);
    box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
    display: block;
    /* width: 400px; */
    margin: 10px;
    background: radial-gradient(50% 50%,hsla(0,0%,100%,.2),#BD74CC);
    background-color: #C687D3;
    color: white;
    font-family: sans-serif;
    font-size: 8px;
    /* display: inline-block; */
    border-radius: 25px;
    padding: 2px;
}

.widget:hover {
    box-shadow: 1px 1px 15px rgba(0,0,0,.5);
}

h2{
    font-size: 16px;
}
.container {
    background: radial-gradient(50% 50%,hsla(0,0%,100%,.1),rgba(207, 105, 228, 0.89));
    background-color: #003663;
    color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-family: sans-serif;
    font-size: 8px;
    display: inline-block;
}

/* @media only screen and (max-width: 600px) {
    .widget {
        width: 98%;
    }
} */


/* menu styling */

.navbar-info {
    background-color: #c123de;
}

a {
    color: #fff;
}

i {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-right {
    margin-right: 15px;
}


/* scrollable */
/* The heart of the matter */
/* .testimonial-group {
    /* overflow-x: auto; */
    /*white-space: nowrap;
  }
  .testimonial-group >.col-xs-4 {
    display: inline-block;
    float: none;
  } */
  
p{
    font-size: 14px;
}