<div id="openweathermap-widget-11"></div>
<!-- <script src='http://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script><script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 11,cityid: '2961423',appid: 'f9910e16c173698955d13abe28b6879a',units: 'metric',containerid: 'openweathermap-widget-11',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "http://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script> -->

  <!-- <h1>{{myForecast[0].cityName}}</h1> -->
  <!--<pre>{{ myForecast | json}}</pre> -->
 <!-- <div  *ngFor="let dayWeather of myForecast" class="row weatherRow container widget">-->
  
  <div  *ngFor="let days of generateArray(fullDays)" class="row weatherRow container widget">
   
    <h2>{{days[0].date | date: 'EEEE MMMM d'}}</h2>
    <section *ngFor="let dayWeather of generateArray(days)">
      <h2 class="date col-3">{{dayWeather.date | date: 'HH:MM'}}</h2>
      <div class="icon col-3">
        <img src="http://openweathermap.org/img/w/{{ dayWeather.icon }}.png">
    </div>
      <div class="temp col-3"><h2>Max Temp: {{dayWeather.maxTemp}}&deg;</h2></div>
      <h2 class="temp col-3">Min Temp: {{dayWeather.minTemp}}&deg;</h2>
</section>
 
</div>
