.navbar-info {
    background-color: #5bc0de;
}

a {
    color: #fff;
}

i {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-right {
    margin-right: 15px;
}

#cam-loading>img {
    width: 100%;
    border-radius: 5px;
}

.col {
    padding: 20px;
    height: 500px;
}

.success {
    float: right;
}
