.navbar-info {
    background-color: #5bc0de;
}

.navbar, #stillImage, .camera-content {
    text-align: center;
}

#back {
    float: left;
}

a,
a+i {
    color: #fff;
}

i {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-right {
    margin-right: 15px;
}

#cam-loading>img {
    width: 100%;
    border-radius: 5px;
}

.camera {
    padding: 5px;
    height: 600px;
}

.right {
    text-align: right;
}

.camera-content {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.action-btn {
    position: absolute;
    top: 45%;
    font-size: 4em;
    z-index: 999;
}

#canx-btn {
    position: absolute;
    top: 45%;
    left: 15%;
}

#save-btn {
    float: right;
    /* margin-right: 100px; */
    right: 15%;
}

.camera-area {
    position: relative;
}