<div class="camera">
  <nav class="navbar navbar-info">
    <div class="container-fluid">
      <a [routerLink]="['/dashboard']" id="back"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i></a>
      <i class="fa fa-camera-retro fa-4x info cam-btn" aria-hidden="true" (click)="loadCameraDisplay()"></i>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 camera" #camera>
        <!-- Camera -->
        <div class="camera-area" *ngIf="cameraReady" [@fade]>
          <span [ngBusy]="_busy"></span>
          <span class="countdown" *ngIf="_countingDown"><i class="faa-bounce animated" id="save-btn">{{_countDownIndicator}}</i></span>
          <span id="canx-btn" *ngIf="hasPhoto"><i class="action-btn fa fa-ban danger" (click)="discardPhoto()"></i></span>
          <span id="save-btn" *ngIf="hasPhoto" (click)="submitPhoto()"><i class="action-btn fa fa-check success faa-tada animated" id="save-btn" aria-hidden="true"></i></span>
          <div class="camera-content">
            <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onSuccess($event)" (onError)="onError($event)" style="width:100%;height:100%"
              *ngIf="!hasPhoto" class="camera-view" [hidden]="hasPhoto"></ack-webcam>
            <!-- Camera Still -->
            <div *ngIf="hasPhoto" id="stillImage">
              <img [src]="base64" [style.height.px]="imageHeight">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>