.navbar-info {
    background-color: #5bc0de;
}

.navbar {
    text-align: center;
}

#back {
    float: left;
}

a,
a+i {
    color: #fff;
}

i {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-right {
    margin-right: 15px;
}

#cam-loading>img {
    width: 100%;
    border-radius: 5px;
}

.camera {
    padding: 5px;
    height: 650px;
}

.right {
    text-align: right;
}

.camera-content {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.action-btn {
    position: absolute;
    font-size: 10em;
    z-index: 999;
}

#canx-btn {
    float: left;
}

#save-btn {
    float: right;
    margin-right: 200px;
}

.camera-area {
    position: relative;
}