<div class="Buss">
  <nav class="navbar navbar-info">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/dashboard']"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i></a>
      </div>
    </div>
  </nav>
</div>
<!--
<div class="container">
  <div class="heading">  <Header>
        <h1>Sligo Bus Timtables
        <button type="button" (click)="getBussTimetbles()" class="btn btn-warning">Refresh Timetables
          <i class="glyphicon glyphicon-refresh"></i></button> </h1>
    </Header>
    </div>
    <div class="panel-body">
    <h4>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Arrival DateTime</th>
              <th>Due Time</th>
              <th>Origin</th>
              <th>Destination</th>
            </tr>
          </thead>
          <tbody *ngFor="let bussInfo of Data.results | slice:0:5">
            <tr>
              <td>{{bussInfo.arrivaldatetime}}</td>
              <td>{{bussInfo.duetime}} mints</td>  
              <td>{{bussInfo.origin}}</td>
              <td>{{bussInfo.destination}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </h4>
  </div>
  </div> -->
<!--end -->

<div class="container"> 
 
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom"> 
       <!-- <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker> -->
      </agm-map> 
 
</div>

