<div class="local-events">
    <nav class="navbar navbar-info fixed-top">
        <div>
            <a [routerLink]="['/dashboard']" id="back">
                <i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i>
            </a>
            <div class="header">
                <h1>{{ "localEvents" | translate}}</h1>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="loading" *ngIf="isLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div *ngIf="!isLoading">
            <div class="row titles">
                <div class="col-xs-1 col-cs-offset-1 middle">

                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-3">
                    {{ "when" | translate }}
                </div>
                <div class="col-xs-6">
                    {{ "what" | translate }}
                </div>
                <div class="col-xs-1">
                    {{ "where" | translate }}
                </div>
                <div class="col-xs-1 how">
                    {{ "how" | translate }}
                </div>
            </div>
            <div>
                <div>

                </div>
                <div class="data">
                    <div *ngFor="let evt of events" class="row panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-1 col-cs-offset-1">
                                <i class="fa fa-music fa-2x"></i>
                            </div>
                            <div class="col-xs-3 date">
                                <span>{{evt.startTime | moment:'Mo MMM HH:MM'}}</span>
                            </div>
                            <div class="col-xs-6">
                                <p>{{evt.name}}</p>
                                <p>
                                    <small>{{evt.details}}</small>
                                </p>
                            </div>
                            <!-- what does that id mean? -->
                            <div class="col-xs-1 middle">{{evt.associatedLocation.name}}</div>
                            <div class="col-xs-1 middle">
                                <a href="">
                                    <i class="fa fa-map fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>