.sdfs{
    background-image: url('../../assets/images/background/event-back.jpg');
}
.navbar{
    background-color: #337AB7;
    font-size: 10px;
    top:0;  
    margin: 0;
  }
  h1{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .fa-arrow-left{
    color: white;
    padding-left: 22px;
  }
  .header{ 
    text-align: center; 
    color: white;
  } 
  /* .header > h1, i{
    margin-top: 10px;
  } */
  #back {
    float: left;
  }
  .fixed-top{
      position: fixed;
      width: 100%;
  }
  /* .container{
      margin-top: 75px;
  } */
  td > i{
      margin-top: 0;
      /* font-size: 2.5em; */
  }
  .table td {
    /* text-align: center;  */
    vertical-align: middle;  
 }
 .table > tr {
     margin-top:10px;
     /* margin-bottom:10px; */
 }
 .middle{
     text-align: center;
 }
 th{
     font-size: 28px;
 }

 .row{
     margin-top: 10px;
  
 }
 .titles{
     position: fixed;
     top: 61px;
     background-color: white;
     width: 95%;
     padding-top: 20px;
     margin-top: 0;
 }

 .data{
     margin-top: 110px;
     z-index: -1;
     position : absolute;
     width: 90%;
 }
.how{
   padding-left: 7px; 
}
.titles >div{
    font-weight: bold;
    font-size: 15px;
}
.loading{
    font-size: 8em;
    color: #337AB7;
    position: absolute;
    left: 45%;
    top: 30%;
}
.date{
    font-size: 1.2em;
}
p{
    margin-bottom: 1px;
}