.sdfs{
    background-image: url('../../assets/images/background/event-back.jpg');
}
.navbar{
    background-color: #337AB7;
    font-size: 10px;
    top:0;  
    margin: 0;
  }
  .fa-arrow-left{
    color: white;
  }
  .header{ 
    text-align: center; 
    color: white;
  } 
  .header > h1, i{
    margin-top: 10px;
  }
  #back {
    float: left;
  }
  .fixed-top{
      position: fixed;
      width: 100%;
  }
  /* .container{
      margin-top: 75px;
  } */
  td > i{
      margin-top: 0;
      /* font-size: 2.5em; */
  }
  .table td {
    /* text-align: center;  */
    vertical-align: middle;  
 }
 .table > tr {
     margin-top:10px;
     /* margin-bottom:10px; */
 }
 .middle{
     text-align: center;
 }
 th{
     font-size: 28px;
 }

 .titles{
     position: fixed;
     top: 61px;
     background-color: white;
     width: 95%;
     padding-top: 20px;
 }

 .data{
     margin-top: 110px;
     z-index: -1;
     position : absolute;
     width: 90%;
 }
