<div class="local-events">
    <nav class="navbar navbar-info fixed-top">
        <div class="container-fluid">
            <a [routerLink]="['/dashboard']" id="back">
                <i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i>
            </a>
            <div class="header">
                <h1>{{ "localEvents" | translate}}</h1>
            </div>
        </div>
    </nav>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="middle">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </th>
                    <th>{{ "when" | translate }}</th>
                    <th>{{ "what" | translate }}</th>
                    <th>{{ "where" | translate }}</th>
                    <th>{{ "how" | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evt of events">
                    <td>
                        <i class="fa fa-music fa-2x"></i>
                    </td>
                    <td>{{evt.startTime}}</td>
                    <td>{{evt.name}}</td>
                    <td>{{evt.eventCategoryId}}</td>
                    <td class="middle"><a href=""> <i class="fa fa-map fa-2x" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>