<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="square-service-block">
        <a href="#">
          <div class="ssb-icon"><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
          <h2 class="ssb-title">Graphics</h2>
        </a>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="square-service-block">
        <a href="#">
          <div class="ssb-icon"> <i class="fa fa-globe" aria-hidden="true"></i> </div>
          <h2 class="ssb-title">web service</h2>
        </a>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="square-service-block">
        <a href="#">
          <div class="ssb-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
          <h2 class="ssb-title">Photography</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="square-service-block">
        <a href="#">
          <div class="ssb-icon"><i class="fa fa-font" aria-hidden="true"></i></div>
          <h2 class="ssb-title">Fonts</h2>
        </a>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="square-service-block">
        <a href="#">
          <div class="ssb-icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
          <h2 class="ssb-title">Mockups</h2>
        </a>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="square-service-block">
        <a href="#">
          <div class="ssb-icon"><i class="fa fa-eyedropper" aria-hidden="true"></i></div>
          <h2 class="ssb-title">Colours</h2>
        </a>
      </div>
    </div>
  </div>
</div>