<div class="container" *ngIf="app.viewReady">
  <div class="row">
    <div class="col-xs-4">
      <div class="square-service-block btn-map">
        <a [routerLink]="['/map']">
          <div class="ssb-icon">
            <i class="fa fa-map fa-3x" aria-hidden="true"></i>
          </div>
          <h2 class="ssb-title">{{"map" | translate}}</h2>
        </a>
      </div>
    </div> 

    <div class="col-xs-4">
      <div class="square-service-block btn-bus">
        <a [routerLink]="['/bus']">
          <div class="ssb-icon">
            <i class="fa fa-bus fa-3x" aria-hidden="true"></i>
          </div>
          <h2 class="ssb-title">{{"busInfo" | translate}}</h2>
        </a>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="square-service-block btn-photo">
        <a [routerLink]="['/camera']">
          <div class="ssb-icon">
            <i class="fa fa-camera-retro fa-3x" aria-hidden="true"></i>
          </div>
          <h2 class="ssb-title">{{"takeSelfie" | translate}}</h2>
        </a>
      </div>
    </div>


  </div>

  <div class="row">

    <div class="col-xs-4">
      <div class="square-service-block btn-weather">
        <a [routerLink]="['/weather']">
          <div class="ssb-icon">
            <i class="fa fa-sun-o fa-3x" aria-hidden="true"></i>
          </div>
          <h2 class="ssb-title">{{"weather" | translate}}</h2>
        </a>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="square-service-block btn-localInfo">
        <a href="#">
          <div class="ssb-icon">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
          </div>
          <h2 class="ssb-title">{{"localInfo" | translate}}</h2>
        </a>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="square-service-block btn-food">
        <a [routerLink]="['/food']">
          <div class="ssb-icon">
            <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
          </div>
          <h2 class="ssb-title">{{"food" | translate}}</h2>
        </a>
      </div>
    </div>

  </div>
</div>