a:hover,
a:focus {
    color: #2a6496;
    text-decoration: none;
}

.square-service-block {
    position: relative;
    overflow: hidden;
    margin: 15px auto;
}

.square-service-block a {
    display: block;
    padding: 60px 20px;
    text-align: center;
    width: 100%;
}

.square-service-block {
    border-radius: 5px;
}

.ssb-icon {
    color: #fff;
    display: inline-block;
    margin: 0 0 20px;
}

h2.ssb-title {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.square-service-block:active {
    position: relative;
    top: 1px;
}
/* map button */
.btn-map {
    background-color: #64dd17;
}
.btn-map:hover {
    background-color: #b2ff59;
}

/* bus button */
.btn-bus {
    background-color: #ffd600;
}
.btn-bus:hover {
    background-color: #ffea00;
}
/* photo button */
.btn-photo {
    background-color: #ff6d00;
}
.btn-photo:hover {
    background-color: #ffab40;
}
/* weather button */
.btn-weather {
    background-color: #aa00ff;
}
.btn-weather:hover {
    background-color: #e040fb;
}
/* localInfo button */
.btn-localInfo {
    background-color: #0091ea;
}
.btn-localInfo:hover {
    background-color: #40c4ff;
}
/* food button */
.btn-food {
    background-color: #b71c1c;
}
.btn-food:hover {
    background-color: #ff5252;
}

.dash {
    height: 800px;
    padding-top: 30px;
}
.container {
    overflow: hidden;
}