a:hover,
a:focus {
    color: #2a6496;
    text-decoration: none;
}

.square-service-block {
    height: 209px !important;

    position: relative;
    overflow: hidden;
    margin: 15px auto;
}

.square-service-block a {
    display: block;
    padding: 60px 20px;
    text-align: center;
    width: 100%;
}

.square-service-block {
    border-radius: 5px;
}

.ssb-icon {
    color: #fff;
    display: inline-block;
    margin: 0 0 20px;
}

h2.ssb-title {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.square-service-block:active {
    position: relative;
    top: 1px;
}
/* buttons colors */

/* map button */
.btn-map {
    background-color: #00c853;
}
.btn-map:hover {
    background-color: #00e676;
}

/* bus button */
.btn-bus {
    background-color: #ffb300;
}
.btn-bus:hover {
    background-color: #ffea00;
}
/* photo button */
.btn-photo {
    background-color: #dd2c00;
}
.btn-photo:hover {
    background-color: #ff6e40;
}
/* weather button */
.btn-weather {
    background-color: #9c27b0;
}
.btn-weather:hover {
    background-color: #e040ed;
}
/* localInfo button */
.btn-localInfo {
    background-color: #0091ea;
}
.btn-localInfo:hover {
    background-color: #00b8d9;
}
/* food button */
.btn-food {
    background-color: #ad1457;
}
.btn-food:hover {
    background-color: #ad1430;
}

.dash {
    height: 800px;
    padding-top: 30px;
}
.container {
    overflow: hidden;
}

.fab {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 24px;
    line-height: 1;
    border-radius: 30px;
    box-shadow: 3px 3px 5px grey;
}