a:hover,
a:focus {
    color: #2a6496;
    text-decoration: none;
}

.square-service-block {
    position: relative;
    overflow: hidden;
    margin: 15px auto;
}

.square-service-block a {
    display: block;
    padding: 60px 20px;
    text-align: center;
    width: 100%;
}

.square-service-block {
    border-radius: 5px;
}

.ssb-icon {
    color: #fff;
    display: inline-block;
    margin: 0 0 20px;
}

h2.ssb-title {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.square-service-block:active {
    position: relative;
    top: 1px;
}

.btn-weather {
    background-color: #c123de;
}

.btn-weather:hover {
    background-color: #9b1bb1;
}

.dash {
    height: 800px;
    padding-top: 30px;
}

.container {
    overflow: hidden;
}