<div [ngStyle]="{'background-image':'url(' + background + ')'}" class="dash">
  <div class="container">
    <div class="row">
<div></div>


      <div class="col-xs-3">
        <div class="square-service-block btn-success">
          <a href="#">
            <div class="ssb-icon"> <i class="fa fa-map fa-4x" aria-hidden="true"></i> </div>
            <h2 class="ssb-title">Map</h2>
          </a>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="square-service-block btn-warning">
          <a href="#">
            <div class="ssb-icon"> <i class="fa fa-bus fa-4x" aria-hidden="true"></i> </div>
            <h2 class="ssb-title">Bus Info</h2>
          </a>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="square-service-block btn-info">
          <a [routerLink]="['/camera']">
            <div class="ssb-icon"> <i class="fa fa-camera fa-4x" aria-hidden="true"></i> </div>
            <h2 class="ssb-title">Camera</h2>
          </a>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="square-service-block btn-success">
          <a href="#">
            <div class="ssb-icon"> <i class="fa fa-cutlery fa-4x" aria-hidden="true"></i> </div>
            <h2 class="ssb-title">Food</h2>
          </a>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-3">
        <div class="square-service-block btn-weather">
          <a href="#">
            <div class="ssb-icon"> <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i> </div>
            <h2 class="ssb-title">Weather</h2>
          </a>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="square-service-block btn-primary">
          <a href="#">
            <div class="ssb-icon"> <i class="fa fa-info-circle fa-4x" aria-hidden="true"></i> </div>
            <h2 class="ssb-title">Local Info</h2>
          </a>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="square-service-block btn-weather">
          <a href="#">
            <div class="ssb-icon"> <i class="fa fa-question fa-4x" aria-hidden="true"></i> </div>
            <h2 class="ssb-title">About</h2>
          </a>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="square-service-block btn-danger">
          <a href="#">
            <div class="ssb-icon"> <i class="fa fa-phone fa-4x" aria-hidden="true"></i> </div>
            <h2 class="ssb-title">S O S</h2>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>