/* * {
    cursor: none;
} */

.success {
    color: #3e8f3e;
}   

.danger {
    color: #b92c28
}

.default {
    color: #337ab7;
}

.info {
    color: #2aabd2
}

@font-face {
    font-family: "KBREINDEERGAMES";
    src: url("./assets/fonts/KBREINDEERGAMES.ttf");
}

.navbar-info {
    font-size: 10px;
}
.center{
    text-align: center
}
