@import url('https://fonts.googleapis.com/css?family=Monoton|Ubuntu');

body {
    overflow-x: hidden !important;
    width: 800px;
    height: 480px;
}
* {
    font-family: 'Ubuntu';
}

@font-face {
    font-family: "KBREINDEERGAMES";
    src: url("./assets/fonts/KBREINDEERGAMES.ttf");
}

.awesome {
    font-family: KBREINDEERGAMES;
    font-size: 60px;
}
.center{
    text-align: center;
}