body {
    overflow-x: hidden !important;
    width: 800px;
    height: 480px;
}

@font-face {
    font-family: "KBREINDEERGAMES";
    src: url("./assets/fonts/KBREINDEERGAMES.ttf");
}

.awesome {
    font-family: KBREINDEERGAMES;
    font-size: 60px;
}